.root {
  position: absolute;
  display: flex;
  padding: 16px;
  /* align-items: center; */
  justify-content: center;
}

.inner {
  display: flex;
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inner .name {
  font-weight: bold;
  font-size: 12px;
}

.m {
  background: #a4ecff;
}

.f {
  background: #fdaed8;
}

.isRoot {
  border-color: rgba(0, 0, 0, 0.4);
}

.sub {
  position: absolute;
  top: 74px;
  left: 10px;
  width: 24px;
  height: 24px;
}

.content {
  position: relative;
  width: 100%;
}

.Before {
  background-color: #efefef !important;
}

.sub.m {
  background: #fdaed8;
}

.sub.f {
  background: #a4ecff;
}
